<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd" ><!-- beans上也能设置自动装属性 -->
        
        <!-- 定义好userService接口使用实现哪个类的bean -->
        <bean id="userService" class="serviceImp.UserServiceImp"></bean>	
        <bean id="userService2" class="serviceImp.UserServiceImp2"></bean>	
        <!-- 初始化Log -->
        <bean id="customer" class="customer.Customer"></bean><!-- 自定义的AOP调用代理类 -->	
        
        <!-- 使用注解，自动根据注解使用AOP -->
        <aop:aspectj-autoproxy>
        
        </aop:aspectj-autoproxy>
</beans>