<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd" ><!-- beans上也能设置自动装属性 -->
        
        <!-- 定义好userService接口使用实现哪个类的bean -->
        <bean id="userService" class="serviceImp.UserServiceImp"></bean>	
        
        <!--代理类中调用到userService，根据名称自动注入userService的bean进去  -->
        <bean id="userServiceProxy" class="serviceProxy.UserServiceProxy" autowire="byName"></bean>
        
</beans>