<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd" ><!-- beans上也能设置自动装属性 -->
        
        <!-- 定义好userService接口使用实现哪个类的bean -->
        <bean id="userService" class="serviceImp.UserServiceImp"></bean>	
        <!-- 初始化Log -->
        <bean id="beforeLog" class="log.BeforeLog"></bean>	
        <bean id="afterLog" class="log.AfterLog"></bean>	
        <aop:config>
        	<aop:pointcut expression="execution(* serviceImp.UserServiceImp.*())" id="log" />
        	<aop:advisor advice-ref="beforeLog"  pointcut-ref="log"/>
        	<aop:advisor advice-ref="afterLog" pointcut-ref="log"/>
        </aop:config>
</beans>